
/* Main Body */
body{
    margin: 2px 2px;
    padding: 8px 10px ;
    background-color: black;
    height: 100vh;
    width: auto;
}
/* background-image */
.container {
    position: relative; 
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container::before {    
      content: "";
      background-image: url(../Images/wolves.jpeg);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}
/* end of background image */
h2{
    color: darkslategray;
}
 /* Custom styling for dropdown menus */

 .dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    
  }
  
  .dropdown h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    
  }

 .dropdown select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px;
    border-radius: 20px;
    border: 3px outset silver;
    background-color: darkslategray;
    color: rgb(249, 246, 246);
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 1px 10px;
    cursor: pointer;
  }

  .dropdown select option {
    background-color: darkolivegreen;
    color:darkslategray;
    cursor: pointer;
  }

  

  
 

/* NavBar  */
nav{
    margin-top: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding: 10px 0;
    
    
}
/* Nav Links */
nav ul li{
    display: inline;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    list-style: none;
    margin: 0 5px;
    padding: 10px 5px;
    text-shadow:2px 5px 0px darkolivegreen;


}

nav ul li a{
    text-decoration: none;
    color: gainsboro;


}
/* Nav Links Style */
nav ul li a:hover{
    background-color: darkslategray;
    margin: 0;
    padding: 10px 5px ;
    transition: .5s all ease-in-out 0s;
    box-sizing: border-box;
    border: 2px inset gainsboro;
    border-radius: 20px;
    

}



/* dropdown */

  

footer{
    display: block;
    justify-content: center;
    align-items: center;
    color: oldlace;
}

.contact{
    display: flex;
    justify-content:center;
    align-items: center;
}

.trademark{
    display: flex;
    justify-content: center;
    align-items: center;
}

